.item {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 12px;

  background-color: var(--color-dark-700);
  border-right: 1px solid var(--color-dark-500);
  border-left: 1px solid var(--color-dark-500);
  outline: none;

  fill: var(--color-light-100);

  &:last-of-type {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-dark-500);
    border-radius: 0 0 4px 4px;
  }

  &:first-child {
    border-top: 1px solid var(--color-dark-500);
    border-radius: 4px 4px 0 0;
  }

  &:hover,
  &:focus {
    color: var(--color-accent-100);
  }
}

.itemIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
}
