.container {
  max-width: 542px;
}

.containerTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  border-bottom: 1px solid var(--color-dark-500);
}

.buttonClose {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerEdit {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.containerCheckbox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.containerButton {
  padding: 12px 24px 36px 24px;
  display: flex;
  justify-content: space-between;
}

.containerButtonPct {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.fullWidth {
  width: 100%;
}

.picture {
  width: 100%;
  height: auto;
  padding-bottom: 22px;
}