.container {
  padding: 36px 137px 0;

  .table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--color-dark-500);
  }

  .tdc {
    padding: 6px 6px 6px 24px;
    border-bottom: 1px solid var(--color-dark-500);
  }

  .tdsIcon {
    overflow: auto;
    padding-right: 24px;
    text-align: right;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;

    &:hover,
    &:focus-visible {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.6;
    }
  }
}
