.container {
  padding: 36px 137px 0 137px;

  .table {
    border-collapse: collapse;
    border: 1px solid var(--color-dark-500);
    width: 100%;
  }
  .tdc{
    border-bottom: 1px solid var(--color-dark-500);
    padding: 6px 6px 6px 24px;
  }

  .tdsIcon {
    overflow: auto;
    text-align: right;
    padding-right: 24px;
  }

  .link {
    padding-right: 10px;
    &:hover,
    :focus-visible {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.6;
    }
  }
}