.container {
  max-width: 420px;
  padding: 33px 36px;
}

.header {
  padding-bottom: 51px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
}

.info {
  padding-top: 19px;
  padding-bottom: 41px;
  color: var(--color-light-900);
}
