.columnHeaderContainer {
  user-select: none;

  min-width: 200px;
  height: 36px;
  padding-left: 24px;

  text-align: start;

  background-color: var(--color-dark-500);

  .titleArrowContainer {
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .arrowCenteredBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
