.container {
  padding: 33px 36px;
  max-width: 420px;
}

.title {
  font-size: 26px;
  padding-bottom: 45px;
  text-align: center;
}

.text {
  color: var(--color-dark-100);
  padding-bottom: 40px;
}

.containerAnswer {
  padding-bottom: 30px;
}

.content {
  padding-bottom: 12px;
}

.contentWithPicture {
  padding-top: 30px;
  padding-bottom: 13px;
}

.picture {
  width: 350px;
  height: 120px;
  object-fit: cover;
}