@use 'colors';
@use 'typography';
@use 'boilerplate';

body {
  font-family: var(--font-family-primary);
  line-height: var(--line-height-m);
  color: var(--color-light-100);
  background-color: var(--color-dark-900);
}
