@import '../../../styles/viewports';

.container {
  padding: 26px 136px 0 136px;
}

.search {
  margin-bottom: 24px;
}

@media (max-width: $table) {
  .container {
    padding: 36px 16px 0;
    min-width: 736px;
  }
}