.container {
  padding: 0 137px;

  .filtersHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
  }

  .filtersBody {
    display: flex;
    align-items: end;
  }

  .centeredIcons {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}