@import '../../../styles/viewports';

.table {
  margin-top: 24px;
  border-collapse: collapse;
}

.tdcImg {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cardImg {
  min-width: 100px;
  min-height: auto;
  max-width: 118px;
  max-height: 50px;
  background-color: var(--color-light-100);
  display: inline-block;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.grade {
  display: flex;
}

.tbcIconContainer {
  display: flex;
  gap: 10px;
}

@media (max-width: $table) {
  .tdcImg {
    flex-wrap: wrap;
  }
}