.root {
  display: grid;
  align-items: flex-start;
}

.avatarContainer {
  width: 36px;
  height: 36px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
}

.name {
  margin: 0;
}

.mail {
  margin: 0;
  color: var(--color-dark-100);
}
