.forgotContainer {
  max-width: 420px;
  padding: 33px 36px;
}

.header {
  padding-bottom: 51px;
  text-align: center;
}

.form {
  display: inline-flex;
  flex-direction: column;
}

.info {
  padding-top: 19px;
  padding-bottom: 65px;
  color: var(--color-light-900);
}

.rememberPassword {
  padding-top: 20px;
  padding-bottom: 11px;
  text-align: center;
}

.trySignIn {
  color: var(--color-accent-500);
  text-align: center;
}
